ACS.Common/bin/
ACS.Common/obj/
bin/
obj/
packages/
*.user
*.suo
_Resharper*
*.crunchsolution.cache

/ThirdPartyLibs/nugetpackages

_Boot
_CompileInfo
_Libraries
*.bak
*.~u
*.tclrs
*.ldb
*.dll
*.pdb
ACS.Common/bin/
ACS.Common/obj/

bin
obj
/_NCrunch_ACS.Common/StoredText
