<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <section name="moduleWiring1" type="VP.FF.PT.Common.PlatformEssentials.ModuleWiringConfigSection.ModuleWiringConfigSection, VP.FF.PT.Common.PlatformEssentials" />
    <section name="moduleWiring2" type="VP.FF.PT.Common.PlatformEssentials.ModuleWiringConfigSection.ModuleWiringConfigSection, VP.FF.PT.Common.PlatformEssentials" />
  </configSections>

  <moduleWiring1>
    <modules>
      <module name="ModuleA" type="1" contractType="VP.FF.PT.Common.PlatformEssentials.UnitTests.Source">
        <parameter adsPort="1" plcRootController="ctrlModuleA" plannedThroughputHour="10" />
        <nextModules>
          <add name="ModuleB" port="0" targetPort="0" />
          <add name="ModuleC" port="1" targetPort="0" />
        </nextModules>
      </module>
      <module name="ModuleB" type="2" contractType="VP.FF.PT.Common.PlatformEssentials.UnitTests.ProcessA">
        <parameter adsPort="2" plcRootController="ctrlModuleB" />
        <nextModules>
          <add name="ModuleA" port="0" targetPort="0" />
        </nextModules>
      </module>
      <module name="ModuleC" type="3" contractType="VP.FF.PT.Common.PlatformEssentials.UnitTests.ProcessB">
        <parameter adsPort="3" plcRootController="ctrlModuleC" />
        <nextModules>
          <add name="ModuleD" port="0" targetPort="0" />
          <add name="ModuleE" port="1" targetPort="0" />
        </nextModules>
      </module>
      <module name="ModuleD" type="4" contractType="VP.FF.PT.Common.PlatformEssentials.UnitTests.Control">
        <parameter adsPort="4" plcRootController="ctrlModuleD" />
        <nextModules>
          <add name="ModuleF" port="0" targetPort="0" />
        </nextModules>
      </module>
      <module name="ModuleE" type="4" contractType="VP.FF.PT.Common.PlatformEssentials.UnitTests.Control">
        <parameter adsPort="5" plcRootController="ctrlModuleE" />
        <nextModules>
          <add name="ModuleF" port="0" targetPort="1" />
        </nextModules>
      </module>
      <module name="ModuleF" type="6" contractType="VP.FF.PT.Common.PlatformEssentials.UnitTests.Consolidation">
        <parameter adsPort="6" plcRootController="ctrlModuleF" />
        <nextModules>
          <add name="ModuleG" port="0" targetPort="0" />
          <add name="ModuleX" port="1" targetPort="0" />
        </nextModules>
      </module>
      <module name="ModuleG" type="7" contractType="VP.FF.PT.Common.PlatformEssentials.UnitTests.Sink">
        <parameter adsPort="7" plcRootController="ctrlModuleG" />
        <nextModules></nextModules>
      </module>
      <module name="ModuleX" type="8" contractType="VP.FF.PT.Common.PlatformEssentials.UnitTests.Between">
        <parameter adsPort="8" plcRootController="ctrlModuleX" />
        <nextModules>
          <add name="ModuleG" port="0" targetPort="1" />
        </nextModules>
      </module>
    </modules>
  </moduleWiring1>
  
  <!-- for "ConfigSectionTests" and "PlatformModuleCreatorTests" unit test fixture -->
  <moduleWiring2>
    <modules>
      <module type="1" contractType="1" name="JEM">
        <nextModules>
          <add name="GRM" port="0" targetPort="0" />
        </nextModules>
      </module>

      <module type="2" contractType="2" name="GRM">
        <dependencies>
          <moduleDependency>
            <when>
              <eventNotRaisedTrigger path="JEM" eventName="PrintDone" timeout="30000" />
            </when>
            <then>
              <invokeMethod methodName="Standby" />
            </then>
          </moduleDependency>
          <moduleDependency>
            <given>
              <propertyEqual propertyName="State" equals="Standby" />
            </given>
            <when>
              <eventTrigger path="JEM" eventName="PrintDone" />
            </when>
            <then>
              <invokeMethod methodName="Start" />
            </then>
          </moduleDependency>
        </dependencies>
      </module>
    </modules>
  </moduleWiring2>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.4.0" newVersion="2.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Interfaces" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.4.0" newVersion="2.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Linq" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.4.0" newVersion="2.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Expression.Interactions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Caliburn.Micro" publicKeyToken="8e5891231f2ed21f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.0" newVersion="1.5.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FluentAssertions" publicKeyToken="33f2691a05b67b6a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.12.0.0" newVersion="4.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FluentAssertions.Core" publicKeyToken="33f2691a05b67b6a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.12.0.0" newVersion="4.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ApprovalUtilities" publicKeyToken="11bd7d124fc62e0f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.22.0.0" newVersion="1.22.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>